@import '../abstracts/variables';
@import '../abstracts/mixins';

#breadcrumb {
    background: url(../images/breadcrumb_01.png) no-repeat center / cover;
    padding: 120px 0;

    .breadcrumb_text {
       
        h2 {
            @include fs(35px, 700);
            color: #282828;
            padding-bottom: 10px;
        }
        p {
            @include para();
            color: #282828;
        }
    }
}